<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{email}}</p>
</div>

<article class="about">
  <h2>Sobre mí</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima dolor quis quo deleniti voluptatibus quaerat ducimus, odio ratione iste assumenda? Maxime blanditiis eveniet cumque eum odio deserunt quos magnam perspiciatis dolore, itaque voluptatum deleniti numquam enim eius, eaque velit. Quidem repellendus delectus eligendi quam ipsam, ex voluptate debitis ea, cumque voluptatum laudantium vel veritatis deserunt voluptatibus? Iusto suscipit, eaque, atque dolorem doloribus delectus sapiente incidunt exercitationem maxime et repellendus voluptatem impedit blanditiis aut dolore! Eaque, dolores, ipsam ducimus quibusdam explicabo quos commodi sequi, excepturi ratione minus debitis eius doloremque deserunt deleniti molestiae voluptatibus alias! Distinctio officiis quae error porro ducimus aperiam deleniti, laboriosam quia autem? Error velit consequuntur necessitatibus minus iusto iure facere molestias voluptates delectus quae facilis, quaerat reiciendis.</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, quaerat illum maxime numquam facilis magnam sint inventore incidunt dolor dignissimos natus aperiam ipsa distinctio rem deserunt ducimus debitis, provident repellendus cumque libero. Veritatis architecto expedita odit quod vitae. Obcaecati similique distinctio sed nesciunt voluptas architecto maxime expedita minus recusandae pariatur?</p>
</article>