/* Importar fuentes */

@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Raleway:400,700|Finger+Paint');
/* Generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #dbdbdb;
    font-size: 18px;
}

h1, h2, h3 {
    font-family: 'Bitter', serif;
}

a {
    text-decoration: none;
}

/* Navegación */

header {
    display: block;
    width: 100%;
    height: 90px;
    background: rgb(0, 118, 228);
    position: fixed;
}

header ul {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    box-shadow: 0 0px 0px 0px white, 0 0px 0px 0px white, 10px 0 10px -2px rgba(0, 0, 0, 0.22), -10px 0 10px -2px rgba(0, 0, 0, 0.22);
    width: 75%;
    max-width: 1200px;
}

header li {
    line-height: 90px;
    list-style: none;
}

header a {
    color: white;
    transition: all 300ms;
    position: relative;
    display: inline-block;
}

header .underline:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 30%;
    background: rgb(255, 255, 255);
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

header .underline:hover:before, header .underline:focus:before, header .underline:active:before {
    left: 0;
    right: 0;
}

header .logo {
    font-family: 'Finger Paint';
    font-size: 2.5em;
    transition: all .2s ease-in-out;
}

header .logo:hover {
    transform: scale(1.2);
}

/* Contenedor principal */

#content {
    min-height: 700px;
    width: 75%;
    margin: 0 auto;
    padding-top: 120px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background: rgba(255, 255, 255, 0.7);
    max-width: 1200px;
}

/* Footer */

footer {
    width: 75%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    opacity: 0.5;
}