/* Importar fuentes */

@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Raleway:400,700|Finger+Paint');
/* Generales */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #dbdbdb;
}

h1, h2, h3 {
    font-family: 'Bitter', serif;
}