/* Importar fuentes */

@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Raleway:400,700|Finger+Paint');
/* Generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #dbdbdb;
    font-size: 18px;
    color: #1a1a1a;
}

h1, h2, h3 {
    font-family: 'Bitter', serif;
}

h1 {
    font-size: 2em;
}

a {
    text-decoration: none;
}

/* Navegación */

header {
    display: block;
    width: 100%;
    height: 90px;
    background: rgb(0, 118, 228);
    position: fixed;
}

header ul {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    box-shadow: 0 0px 0px 0px white, 0 0px 0px 0px white, 10px 0 10px -2px rgba(0, 0, 0, 0.22), -10px 0 10px -2px rgba(0, 0, 0, 0.22);
    width: 75%;
    max-width: 1200px;
}

header li {
    line-height: 90px;
    list-style: none;
}

header a {
    color: white;
    transition: all 300ms;
    position: relative;
    display: inline-block;
}

header .underline:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 30%;
    background: rgb(255, 255, 255);
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

header .underline:hover:before, header .underline:focus:before, header .underline:active:before {
    left: 0;
    right: 0;
}

header .logo {
    font-family: 'Finger Paint', cursive;
    font-size: 2.5em;
    transition: all .2s ease-in-out;
}

header .logo:hover {
    transform: scale(1.2);
}

/* Contenedor principal */

#content {
    min-height: 700px;
    width: 75%;
    margin: 0 auto;
    padding-top: 120px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background: rgba(255, 255, 255, 0.7);
    max-width: 1200px;
}

/* Sobre mí */

#title {
    text-align: center;
    width: 75%;
    margin: 30px auto 80px auto;
}

#title h1 {
    text-transform: uppercase;
    font-size: 60px;
    padding-bottom: 20px;
    box-shadow: 0 4px 6px -6px #222;
    margin-bottom: 10px;
}

#title h2, #title p {
    color: rgb(80, 80, 80);
}

.about {
    width: 75%;
    margin: 0 auto;
    line-height: 1.7;
    padding-bottom: 30px;
    text-align: justify;
}

.about h2 {
    padding-bottom: 20px;
}

/* Footer */

footer {
    width: 75%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    opacity: 0.5;
}

/* Formulario */

.container {
    padding: 50px;
    padding-top: 10px;
}

.container h2 {
    padding-bottom: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 2em !important;
}

form {
    width: 50%;
    margin: 0 auto;
}

input, textarea {
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
    font-size: 22px;
    color: #1a1a1a;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: ease-in 0.2s;
    font-family: 'Raleway', serif;
}

textarea {
    height: 100px;
}

input[type='text']:focus, textarea:focus {
    transform: scale(1.05);
    border: none;
    border: 2px solid rgb(0, 118, 228);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #222;
    font-size: 16px;
}

::-webkit-input-placeholder {
    color: #ccc;
    font-family: 'Raleway';
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.upload-btn {
    border: 2px solid rgb(129, 129, 129);
    color: rgb(129, 129, 129);
    background-color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    font-family: 'Raleway';
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

input[type=submit] {
    width: 120px;
    padding: 10px 20px;
    background: rgb(0, 118, 228);
    color: #dbdbdb;
    font-family: 'Raleway';
    margin-top: -10px;
}

input[type=submit]:hover {
    background: rgb(0, 84, 163);
    cursor: pointer;
}

/* Form Validation */

.form-error {
    display: block;
    padding-bottom: 20px;
    color: red;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 2px solid red;
}

form input[disabled] {
    opacity: 0.5;
}

.message {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    color: #ffffff;
}

.success {
    background: #139449;
}

.success a {
    text-decoration: underline;
    color: #ffffff;
}

.failed {
    background: #ff0000;
    color: #ffffff;
}

/* Pagina Proyectos */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

li .project {
    list-style: none;
    background: rgb(255, 255, 255);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s;
}

li .project:hover {
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

img {
    width: 100%;
}

li .project h3 {
    margin-bottom: 10px;
}

li .project-content {
    background: rgb(255, 255, 255);
    border-radius: 3px;
    margin-top: -5px;
    padding: 20px;
    text-align: center;
}

.btn {
    padding: 10px 20px;
    border: 1px solid rgb(0, 118, 228);
    background: rgb(255, 255, 255);
    border-radius: 50px;
    color: rgb(0, 118, 228);
    margin-top: 15px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.btn:hover {
    cursor: pointer;
    color: white;
    background: rgb(0, 118, 228);
}

/* Project Details */

article {
    background: white;
    padding-bottom: 30px;
    text-align: center;
}

article .grid {
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-gap: 20px;
}

article h1, article h2 {
  padding-bottom: 10px !important;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

article .item:first-child{
    margin-top: 20px;
}

article .item {
    margin-bottom: 15px;
    line-height: 1.7;
}

.edit, .delete {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 50px;
}

.edit {
    border: 1px solid #ff7b00;
    color: #ff7b00;
}

.edit:hover {
  cursor: pointer;
  color: #fff;
  background: #ff7b00;
}

.delete {
    border: 1px solid #ff0000;
    color: #ff0000;
}

.delete:hover {
    cursor: pointer;
    color: #fff;
    background: #ff0000;
}

.description {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.description h2 {
    font-size: 1.5em !important;
    margin-bottom: 20px !important;
}


