<header>
  <ul>
    <li><a class="underline" [routerLink] = "['/sobre-mi']"> Sobre mí</a></li>
    <li><a class="underline" [routerLink] = "['/proyectos']">Proyectos</a></li>
    <li class="logo"><a href="#">DD</a></li>
    <li><a class="underline" [routerLink] = "['/crear-proyecto']">Crear Proyecto</a></li>
    <li><a class="underline" [routerLink] = "['/contacto']">Contacto</a></li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Primer proyecto con Angular - Dani Domínguez
</footer>